# Dependencies
node_modules/
frontennd/node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
frontennd/.next/
out/
frontennd/out/
build/
dist/

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/

# OS and IDE files
.DS_Store
*.pem
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Firebase cache
.firebase/
frontennd/.firebase/
firebase-debug.log
